


	<%= image_tag @blog.avatar.url(:medium) %>


<div class= "page-header">
	<h1><a href="<%= @blog.url%>"><%= @blog.title%></a><br>
		<small>Submitted by <%= @blog.user.name %></small>
	</h1>

	<p><%= @blog.post %><p>
</div>

<div class="btn-group">
	<%= link_to "Visit URL", @blog.url, class: "btn btn-primary" %>
</div>

<% if @blog.user == current_user %>
	<div class = "btn-group">
		<%= link_to "Edit", edit_blog_path(@blog), class: "btn btn-primary" %>
	</div>
<% end %>

<% if @blog.user == current_user %>
	<div class = "btn-group">
		<%= link_to "Destroy", @blog, method: :delete, date: {confirm: "Are you sure?" }, class: "btn btn-primary" %>
	</div>
<% end %>